.aside {
    position: relative;
    height: 100vh;
    width: 40%;
    padding: 3rem 4.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2rem);
    overflow-y: auto;
}

.aside__input {
    width: 70%;
    padding-bottom: 0.25rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 1.25rem;
    color: #e6e6e6;
}

.aside__input::placeholder  {
    color: rgba(255, 255, 255, 0.5);
}

.aside__search-button {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d66c05;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
}

.aside__dropdown {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 73.6%;
    padding: 1rem 0rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 18.82%);
    border-radius: 1rem;
    font-size: 1.25rem;
    color: var(--secondary-white);
}

.aside__weather-details {
    padding: 3rem 0rem;
}

.aside__weather-details:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.aside__weather-info-title {
    color: var(--primary-white);
    margin-bottom: 2rem;
}

.aside__weather-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.25rem;
}

.aside__weather-info-list-item {
    display: flex;
    justify-content: space-between;
}

.aside__weather-time-list-item {
    text-align: center;
}

.aside__weather-info-type, .aside__weather-time {
    color: var(--secondary-white);
}

.aside__weather-info-value, .aside__weather-degrees {
    color: var(--primary-white);
}

.aside__weather-degrees {
    font-size: 1.5rem;
}

.aside__weather-time-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.25rem;
}