.aside {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 3rem 4.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2rem);
    overflow-y: auto;
}

.aside--skeleton {
    width: 100%;
    border-radius: 0.75rem;
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: 0.3;
}

.aside__skeleton-text {
    height: 1.875rem;
}

.aside__skeleton-today-weather {
    height: 10rem;
}

.aside__skeleton-daily-weather {
    height: 20rem;
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.aside__weather-details {
    padding: 3rem 0rem;
}

.aside__weather-details:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.aside__weather-info-title {
    color: var(--primary-white);
    margin-bottom: 2rem;
}

.aside__weather-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.25rem;
}

.aside__weather-info-list-item {
    display: flex;
    justify-content: space-between;
}

.aside__weather-time-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__weather-info-type, .aside__weather-time {
    color: var(--secondary-white);
}

.aside__weather-info-value, .aside__weather-degrees {
    color: var(--primary-white);
}

.aside__weather-degrees {
    font-size: 1.5rem;
}

.aside__weather-time-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.25rem;
}


@media (max-width: 568px) {
    .aside {
        padding: 3rem 3rem;
    }

    .aside__skeleton-today-weather {
        height: 8rem;
    }

    .aside__weather-info-title {
        font-size: 1.25rem;
    }

    .aside__weather-info-list {
        font-size: 1rem;
    }

    .aside__weather-time-list {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }

    .aside__weather-time-list-item img{
        height: 4rem;
    }

    .aside__weather-degrees {
        font-size: 1.25rem;
    }
}

@media (max-width: 1024px) {   
    .aside__weather-time-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1320px) {
    .aside {
        height: 70%;
        width: 100%;
    }

    .aside__weather-time-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
